*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Homepage{
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1444664361762-afba083a4d77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNoYXJpdHl8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60"); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.Title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.61);
}
.balanceContainer{
    background-color: white;
    position: absolute;
    top: 40%;
    height: 100%;
    width: 100%;
}
.box{
    width: 25rem;
    align-items: center;
}
.balance{
    position: relative;
    background: #E1E1E1;
    border-radius: 15px;
    width: 20rem ;
    height: 3rem;
    align-items: center;
}
.buttonGroup{
    position: relative;
    border-radius: 20px;
    
    width: 20rem;
}
.button{
    border-radius: 25px;

}